table {
    height: 300px;
}

input, select {
    width: 150px;
    padding: 3px;
}

input[type="file"] {
    width: 100%;
    margin-top: 5px;
    border: dashed 1px rgb(179, 175, 175);
}

.container-md {
    margin-top: 40px;
}