.h1{
    text-align: center;
}
.search-container {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-input {
    padding: 5px 30px 5px 10px;
    width: 220px;
    border-radius: 20px 0 0 20px;
    border: 1px solid #ccc;
    border-right: none;
}
.search-icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}
button{
    width: 80px;
    height: 36px;
  }
#search-button {
    padding: 5px 15px;
    border: 1px solid #ccc;
    border-left: none;
    background-color: #d8caec;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
}
#search-button:hover {
    background-color: #a2a2dd;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s ease;
    border: 3px solid #ddd;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.gallery img:hover {
    transform: scale(1.05);
    border-color: #aaa;
}
.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
    display: none; /* 初始隱藏 */
    position: absolute; /* 絕對定位 */
    z-index: 1000; /* 確保下拉菜單在其他元素之上 */
}
.dropdown-item:hover {
    background-color: #f8f9fa; /* 鼠標懸停時的背景色 */
}