@model PetsWebSite.Models.ViewModels.ForgotPasswordVm



@{
    ViewBag.Title = "ForgotPassword";
}




<main  class="container-md">
    <div  class="wrapper">
        @using (Html.BeginForm("ForgotPassword", "Members", FormMethod.Post))
        {
            @Html.AntiForgeryToken() <!-- 防止 CSRF 攻擊 -->
            <h2>忘記密碼</h2>
            <div class="input-box">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email", required = "required" })
                <label>請輸入電子信箱</label>
            </div>

            <div class="remember-forgot"></div>

            <button type="submit" class="btn btn-primary">發送驗證信</button>

            <div class="register-link">
                <p>還沒有帳號? <a href="@Url.Action("Register", "Members")">點我註冊</a></p>
            </div>
        }
    </div>
</main>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

