
@{
    ViewBag.Title = "VerifyFailed";
}

<main class="container wrapper">
    <div>
        <h1 class="text-center">驗證失敗</h1>
        <p class="text-center">
            抱歉，您的驗證連結無效或已過期，請重試。
        </p>
    </div>
</main>

