
@{
    ViewBag.Title = "VerifySuccess";
}

<main class="container wrapper">
    <div>
        <h1 class="text-center">驗證成功</h1>
        <p class="text-center">
            您的帳號已成功驗證，現在可以進行登入。
        </p>
    </div>
</main>


