body {
  background-color: #ffaec9; /* 指定頁面背景顏色 */

  background-size: cover;
  background-position: center;
}
.table-container {
    background-color: #FFE4E1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    margin-top: 20px;
        }